backports.functools-lru-cache==1.5
certifi==2018.1.18
click==6.7
coloredlogs==9.0
cycler==0.10.0
Cython==0.27.3
cyvcf2==0.8.4
humanfriendly==4.4
matplotlib==2.1.2
numpy==1.14.1
pandas==0.22.0
patsy==0.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
scipy==1.0.0
seaborn==0.8.1
six==1.11.0
statsmodels==0.8.0
tornado==4.5.3
tqdm==4.7.2
